{
  "openapi": "3.1.0",
  "info": {
    "title": "GrowPanel API",
    "version": "1.0.0",
    "description": "GrowPanel REST API. SaaS analytics for subscription businesses — MRR, customers, cashflow, retention, forecasts. All endpoints require an API key passed as `Authorization: Bearer <key>`."
  },
  "servers": [
    {
      "url": "https://api.growpanel.io",
      "description": "Production"
    },
    {
      "url": "https://api-dev.growpanel.io",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Reports — MRR",
      "description": "MRR over time, summary KPIs, daily growth, committed MRR."
    },
    {
      "name": "Reports — Leads & Trials",
      "description": "Lead acquisition, trial starts, conversion funnel."
    },
    {
      "name": "Reports — Cashflow",
      "description": "Cash received, failed payments, refunds, failure rate, outstanding AR."
    },
    {
      "name": "Reports — Retention & Cohorts",
      "description": "NRR / GRR / customer retention and cohort tracking."
    },
    {
      "name": "Reports — Churn",
      "description": "Scheduled future churn and AI-summarised cancellation reasons."
    },
    {
      "name": "Reports — Customers & Activity",
      "description": "Per-country metrics, customer concentration, activity feed, custom-variable values."
    },
    {
      "name": "Customers",
      "description": "List and inspect customers (analytics view)."
    },
    {
      "name": "Plans",
      "description": "List subscription plans configured in the billing source."
    },
    {
      "name": "Data — Plans",
      "description": "Raw plan CRUD against a data source (separate from the analytics `Plans` view)."
    },
    {
      "name": "Data — Plan Groups",
      "description": "Bundle plans together so reports treat them as one product."
    },
    {
      "name": "Data — Segments",
      "description": "Saved filter combinations applied via the `segment` param on report endpoints."
    },
    {
      "name": "Data — Data Sources",
      "description": "List connected billing systems and monitor import progress."
    },
    {
      "name": "Data — Customers",
      "description": "Raw customer rows for a data source (ingestion-level view, different from the analytics `Customers` endpoints)."
    },
    {
      "name": "Data — Invoices",
      "description": "Raw invoices imported from a data source."
    },
    {
      "name": "Profile",
      "description": "The current user's profile (name, locale, timezone, accounts)."
    },
    {
      "name": "Webhooks",
      "description": "Subscribe HTTPS URLs to event notifications."
    },
    {
      "name": "Settings",
      "description": "Notification preferences (daily/weekly/monthly reports, alert thresholds)."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from /account/api-keys, passed as `Authorization: Bearer <key>`"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/reports/summary": {
      "get": {
        "summary": "Top-level KPIs (MRR, ARR, subscribers, ARPA)",
        "description": "Snapshot of headline metrics now plus 30/60/180/365-day-ago values and percentage changes. The single most common dashboard endpoint. Also accepts `custom_<key>` params for any account-defined custom variable; values are `~~`-separated for OR, prefix `~` to negate.",
        "tags": [
          "Reports — MRR"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "import { GrowPanel } from '@growpanel/sdk';\n\nconst gp = new GrowPanel({ apiKey: process.env.GROWPANEL_API_KEY });\nconst result = await gp.reports.getSummary({\n    query: { date: \"20260101-20260531\" }\n});"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nfrom growpanel import GrowPanel\n\ngp = GrowPanel(api_key=os.environ['GROWPANEL_API_KEY'])\nresult = gp.reports.get_summary(\n    date=\"20260101-20260531\"\n)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import (\n    \"context\"\n    \"os\"\n    growpanel \"github.com/growpanel/growpanel-sdk-go\"\n)\n\ngp, _ := growpanel.New(os.Getenv(\"GROWPANEL_API_KEY\"))\nresult, _ := gp.Reports.GetSummary(context.Background(), nil)"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date range in `YYYYMMDD-YYYYMMDD` format. Defaults to the last 12 months when omitted.",
              "example": "20260101-20260531"
            },
            "required": false,
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Convert all amounts to this currency (ISO 4217, lowercase). Defaults to the account's base currency.",
              "example": "usd"
            },
            "required": false,
            "name": "baseCurrency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Currency filter. Space-separated for OR semantics. Example: `usd eur`.",
              "example": "usd eur"
            },
            "required": false,
            "name": "currency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Payment method filter (e.g. `visa`, `mastercard`, `ach`, `sepa`, `paypal`, `manual`). Space-separated."
            },
            "required": false,
            "name": "payment_method",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Pricing model: `licensed` or `metered`. Space-separated."
            },
            "required": false,
            "name": "pricing_model",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Single customer ID to filter by."
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Plan group ID. Use `GET /plans` to enumerate. Space-separated."
            },
            "required": false,
            "name": "plan",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer-age bucket in months, `M-N` or `M-`. Space-separated. Example: `0-6 6-12`.",
              "example": "0-6 6-12"
            },
            "required": false,
            "name": "age",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Billing frequency: `day`, `week`, `month`, `quarter`, `year`. Space-separated."
            },
            "required": false,
            "name": "billing_freq",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Country/region filter. ISO 3166 alpha-2 codes (`us de fr`) or named regions (`eu`, `apac`, `latam`, `north_america`, `nordics`, ...). Use `*` for \"any value\", `~` for \"not set\", prefix any value with `~` to negate.",
              "example": "us eu"
            },
            "required": false,
            "name": "region",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "US/CA state code (lowercase). Same special tokens as `region`."
            },
            "required": false,
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Data source: `stripe`, `chargebee`, `recurly`, `google_sheets`. Space-separated. Prefix with `~` to exclude."
            },
            "required": false,
            "name": "data_source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer or transaction status filter. Prefix value with `~` to negate (e.g. `~canceled`)."
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "`true` (has any discount) or `false` (none)."
            },
            "required": false,
            "name": "has_discount",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cancellation reason filter (`too_expensive`, `payment_failed`, `unused`, ...). Space-separated."
            },
            "required": false,
            "name": "cancel_reason",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Saved segment ID (filter combination defined in the app). Expanded server-side."
            },
            "required": false,
            "name": "segment",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Set `true` to use a fixed FX snapshot at period end instead of per-row historical rates.",
              "example": "true"
            },
            "required": false,
            "name": "fix_fx",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "KPI snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "mrr_current": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "mrr_30": {
                          "type": "number",
                          "description": "MRR 30 days ago."
                        },
                        "mrr_60": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "mrr_180": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "mrr_365": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arr_current": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arr_30": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arr_60": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arr_180": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arr_365": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "subscribers_current": {
                          "type": "number"
                        },
                        "subscribers_30": {
                          "type": "number"
                        },
                        "subscribers_60": {
                          "type": "number"
                        },
                        "subscribers_180": {
                          "type": "number"
                        },
                        "subscribers_365": {
                          "type": "number"
                        },
                        "arpa_current": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arpa_30": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arpa_60": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arpa_180": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "arpa_365": {
                          "type": "number",
                          "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                        },
                        "mrr_percentage_change_30": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "mrr_percentage_change_60": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "mrr_percentage_change_180": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "mrr_percentage_change_365": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "arr_percentage_change_30": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "arr_percentage_change_60": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "arr_percentage_change_180": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "arr_percentage_change_365": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "subscribers_percentage_change_30": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "subscribers_percentage_change_60": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "subscribers_percentage_change_180": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "subscribers_percentage_change_365": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "arpa_percentage_change_30": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "arpa_percentage_change_60": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "arpa_percentage_change_180": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "arpa_percentage_change_365": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        }
                      }
                    },
                    "currency": {
                      "type": "string",
                      "description": "ISO 4217 currency code, lowercase.",
                      "example": "usd"
                    }
                  },
                  "required": [
                    "summary",
                    "currency"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account is blocked or trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reports/mrr": {
      "get": {
        "summary": "MRR time series with movements",
        "description": "One row per period (day/week/month/...) with the full set of MRR movements (new, expansion, contraction, churn, reactivation), totals (MRR, ARR, subscribers, ARPA, ASP, LTV), and retention metrics (NRR, GRR, churn rates). Also accepts `custom_<key>` params for any account-defined custom variable; values are `~~`-separated for OR, prefix `~` to negate.",
        "tags": [
          "Reports — MRR"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "import { GrowPanel } from '@growpanel/sdk';\n\nconst gp = new GrowPanel({ apiKey: process.env.GROWPANEL_API_KEY });\nconst result = await gp.reports.getMrr({\n    query: { date: \"20260101-20260531\", interval: \"month\" }\n});"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nfrom growpanel import GrowPanel\n\ngp = GrowPanel(api_key=os.environ['GROWPANEL_API_KEY'])\nresult = gp.reports.get_mrr(\n    date=\"20260101-20260531\",\n    interval=\"month\"\n)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import (\n    \"context\"\n    \"os\"\n    growpanel \"github.com/growpanel/growpanel-sdk-go\"\n)\n\ngp, _ := growpanel.New(os.Getenv(\"GROWPANEL_API_KEY\"))\nresult, _ := gp.Reports.GetMrr(context.Background(), nil)"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date range in `YYYYMMDD-YYYYMMDD` format. Defaults to the last 12 months when omitted.",
              "example": "20260101-20260531"
            },
            "required": false,
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Aggregation interval. One of `day`, `week`, `month`, `quarter`, `year`. Default `month`.",
              "example": "month"
            },
            "required": false,
            "name": "interval",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "plan",
                "currency",
                "country",
                "state",
                "billing_freq",
                "payment_method",
                "pricing_model",
                "subtype",
                "industry",
                "age",
                "size",
                "data_source",
                "customer",
                "cancel_reason",
                "market"
              ],
              "description": "Group results into one series per value of this dimension. Custom variables use `custom_<key>`."
            },
            "required": false,
            "name": "breakdown",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Convert all amounts to this currency (ISO 4217, lowercase). Defaults to the account's base currency.",
              "example": "usd"
            },
            "required": false,
            "name": "baseCurrency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "last-period",
                "last-year"
              ],
              "description": "Overlay a comparison series for the previous period or same period last year."
            },
            "required": false,
            "name": "compare",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Set `true` to include scheduled future movements (CMRR mode)."
            },
            "required": false,
            "name": "committed",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Currency filter. Space-separated for OR semantics. Example: `usd eur`.",
              "example": "usd eur"
            },
            "required": false,
            "name": "currency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Payment method filter (e.g. `visa`, `mastercard`, `ach`, `sepa`, `paypal`, `manual`). Space-separated."
            },
            "required": false,
            "name": "payment_method",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Pricing model: `licensed` or `metered`. Space-separated."
            },
            "required": false,
            "name": "pricing_model",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Single customer ID to filter by."
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Plan group ID. Use `GET /plans` to enumerate. Space-separated."
            },
            "required": false,
            "name": "plan",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer-age bucket in months, `M-N` or `M-`. Space-separated. Example: `0-6 6-12`.",
              "example": "0-6 6-12"
            },
            "required": false,
            "name": "age",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Billing frequency: `day`, `week`, `month`, `quarter`, `year`. Space-separated."
            },
            "required": false,
            "name": "billing_freq",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Country/region filter. ISO 3166 alpha-2 codes (`us de fr`) or named regions (`eu`, `apac`, `latam`, `north_america`, `nordics`, ...). Use `*` for \"any value\", `~` for \"not set\", prefix any value with `~` to negate.",
              "example": "us eu"
            },
            "required": false,
            "name": "region",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "US/CA state code (lowercase). Same special tokens as `region`."
            },
            "required": false,
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Data source: `stripe`, `chargebee`, `recurly`, `google_sheets`. Space-separated. Prefix with `~` to exclude."
            },
            "required": false,
            "name": "data_source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer or transaction status filter. Prefix value with `~` to negate (e.g. `~canceled`)."
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "`true` (has any discount) or `false` (none)."
            },
            "required": false,
            "name": "has_discount",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cancellation reason filter (`too_expensive`, `payment_failed`, `unused`, ...). Space-separated."
            },
            "required": false,
            "name": "cancel_reason",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Saved segment ID (filter combination defined in the app). Expanded server-side."
            },
            "required": false,
            "name": "segment",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Set `true` to use a fixed FX snapshot at period end instead of per-row historical rates.",
              "example": "true"
            },
            "required": false,
            "name": "fix_fx",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "MRR time series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Period start date in ISO 8601 (YYYY-MM-DD).",
                            "example": "2026-01-01"
                          },
                          "end_date": {
                            "type": "string",
                            "description": "Inclusive last date of the period.",
                            "example": "2026-01-01"
                          },
                          "new": {
                            "type": "number",
                            "description": "MRR added by new customers in this period."
                          },
                          "expansion": {
                            "type": "number",
                            "description": "MRR added by expansions (upgrades, quantity increases)."
                          },
                          "contraction": {
                            "type": "number",
                            "description": "MRR lost to contractions (downgrades, quantity decreases)."
                          },
                          "churn": {
                            "type": "number",
                            "description": "MRR lost to churn (negative)."
                          },
                          "reactivation": {
                            "type": "number",
                            "description": "MRR recovered from previously-churned customers."
                          },
                          "mrr_diff": {
                            "type": "number",
                            "description": "Net MRR change in this period."
                          },
                          "customers_diff": {
                            "type": "number",
                            "description": "Net change in customer count."
                          },
                          "new_customers": {
                            "type": "number"
                          },
                          "expansion_customers": {
                            "type": "number"
                          },
                          "contraction_customers": {
                            "type": "number"
                          },
                          "churn_customers": {
                            "type": "number"
                          },
                          "reactivation_customers": {
                            "type": "number"
                          },
                          "total_mrr": {
                            "type": "number",
                            "description": "MRR at the end of this period."
                          },
                          "total_arr": {
                            "type": "number",
                            "description": "ARR at the end of this period (= MRR × 12)."
                          },
                          "total_customers": {
                            "type": "number"
                          },
                          "arpa": {
                            "type": "number",
                            "description": "Average revenue per account at period end."
                          },
                          "asp": {
                            "type": "number",
                            "description": "Average sale price (ARPA among paying customers)."
                          },
                          "quick_ratio": {
                            "type": "number",
                            "description": "(new + expansion) / (churn + contraction). 4+ is healthy SaaS growth."
                          },
                          "fx_adjustment": {
                            "type": "number",
                            "description": "MRR change attributable to FX rate movement only (no real revenue change)."
                          },
                          "net_mrr_diff": {
                            "type": "number",
                            "description": "MRR change excluding FX impact."
                          },
                          "quantity": {
                            "type": "number",
                            "description": "Total subscription quantity at period end."
                          }
                        }
                      }
                    },
                    "currency": {
                      "type": "string",
                      "description": "ISO 4217 currency code, lowercase.",
                      "example": "usd"
                    },
                    "breakdown": {
                      "type": "string",
                      "description": "Set when a `breakdown` query param was used; identifies the grouping dimension."
                    }
                  },
                  "required": [
                    "result",
                    "currency"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account is blocked or trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reports/mrr-growth": {
      "get": {
        "summary": "Cumulative MRR change per day",
        "description": "Returns the running MRR delta within the current calendar month, day by day. Built for the dashboard \"MRR growth\" widget — the response is flat (one row per day) so the chart can render a current-month line plus an optional comparison overlay.",
        "tags": [
          "Reports — MRR"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "import { GrowPanel } from '@growpanel/sdk';\n\nconst gp = new GrowPanel({ apiKey: process.env.GROWPANEL_API_KEY });\nconst result = await gp.reports.getMrrGrowth({\n    query: { date: \"20260501-20260531\" }\n});"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nfrom growpanel import GrowPanel\n\ngp = GrowPanel(api_key=os.environ['GROWPANEL_API_KEY'])\nresult = gp.reports.get_mrr_growth(\n    date=\"20260501-20260531\"\n)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import (\n    \"context\"\n    \"os\"\n    growpanel \"github.com/growpanel/growpanel-sdk-go\"\n)\n\ngp, _ := growpanel.New(os.Getenv(\"GROWPANEL_API_KEY\"))\nresult, _ := gp.Reports.GetMrrGrowth(context.Background(), nil)"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date range covering the month to chart plus the compare month. Defaults to current month + last month.",
              "example": "20260101-20260531"
            },
            "required": false,
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Convert all amounts to this currency (ISO 4217, lowercase). Defaults to the account's base currency.",
              "example": "usd"
            },
            "required": false,
            "name": "baseCurrency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$",
              "description": "Override the comparison month (YYYY-MM). Defaults to the month before the date range's end.",
              "example": "2025-05"
            },
            "required": false,
            "name": "compareMonth",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated movement types to include. Subset of `new`, `expansion`, `contraction`, `churn`, `reactivation`. Default: all five.",
              "example": "new,expansion"
            },
            "required": false,
            "name": "types",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Cumulative MRR delta per day",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "number",
                            "description": "Day of month, 0–31 (0 is a synthetic anchor at zero)."
                          },
                          "cumulative_mrr": {
                            "type": "number",
                            "description": "Cumulative MRR delta from day 1 of the current month through this day."
                          },
                          "cumulative_mrr_compare": {
                            "type": "number",
                            "description": "Same metric for the compare month at the same day-of-month."
                          }
                        },
                        "required": [
                          "date",
                          "cumulative_mrr"
                        ]
                      }
                    },
                    "currency": {
                      "type": "string",
                      "description": "ISO 4217 currency code, lowercase.",
                      "example": "usd"
                    }
                  },
                  "required": [
                    "result",
                    "currency"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account is blocked or trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reports/latest-activity": {
      "get": {
        "summary": "Recent customer activity feed",
        "description": "A merged feed of recent MRR movements, scheduled cancellations, and failed payments, sorted newest first. Used for activity widgets and change-detection polling.",
        "tags": [
          "Reports — Customers & Activity"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "import { GrowPanel } from '@growpanel/sdk';\n\nconst gp = new GrowPanel({ apiKey: process.env.GROWPANEL_API_KEY });\nconst result = await gp.reports.getLatestActivity({\n    query: { limit: \"10\" }\n});"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nfrom growpanel import GrowPanel\n\ngp = GrowPanel(api_key=os.environ['GROWPANEL_API_KEY'])\nresult = gp.reports.get_latest_activity(\n    limit=\"10\"\n)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import (\n    \"context\"\n    \"os\"\n    growpanel \"github.com/growpanel/growpanel-sdk-go\"\n)\n\ngp, _ := growpanel.New(os.Getenv(\"GROWPANEL_API_KEY\"))\nresult, _ := gp.Reports.GetLatestActivity(context.Background(), nil)"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Maximum rows (1–100, default 30).",
              "example": "30"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Lookback window in days (1–365, default 30).",
              "example": "30"
            },
            "required": false,
            "name": "days",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ],
              "description": "`0` to omit failed payments. Default `1` (include)."
            },
            "required": false,
            "name": "include_failed",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ],
              "description": "`1` to include upcoming scheduled cancellations. Default `0` (exclude)."
            },
            "required": false,
            "name": "include_scheduled",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Convert all amounts to this currency (ISO 4217, lowercase). Defaults to the account's base currency.",
              "example": "usd"
            },
            "required": false,
            "name": "baseCurrency",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "enum": [
                              "movement",
                              "failed_payment",
                              "scheduled"
                            ],
                            "description": "Where the event came from."
                          },
                          "type": {
                            "type": "string",
                            "description": "Event type — `new`, `expansion`, `contraction`, `churn`, `reactivation`, or `failed_payment`."
                          },
                          "subtype": {
                            "type": "string",
                            "nullable": true
                          },
                          "date": {
                            "type": "string",
                            "description": "When the event was recorded.",
                            "example": "2026-01-15T10:30:00Z"
                          },
                          "effective_date": {
                            "type": "string",
                            "description": "When the event takes effect (future for scheduled events).",
                            "example": "2026-01-15T10:30:00Z"
                          },
                          "overdue_date": {
                            "type": "string",
                            "nullable": true,
                            "description": "When the payment first went past due (failed_payment only).",
                            "example": "2026-01-15T10:30:00Z"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "customer_email": {
                            "type": "string",
                            "nullable": true
                          },
                          "amount": {
                            "type": "number",
                            "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                          },
                          "currency": {
                            "type": "string",
                            "description": "ISO 4217 currency code, lowercase.",
                            "example": "usd"
                          }
                        },
                        "required": [
                          "source",
                          "type",
                          "date",
                          "effective_date",
                          "customer_id",
                          "customer_name",
                          "customer_email",
                          "amount",
                          "currency"
                        ]
                      }
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account is blocked or trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reports/leads": {
      "get": {
        "summary": "Leads and conversion funnel over time",
        "description": "Per-period funnel metrics: lead counts, trial counts, conversion rates, and average time-to-paid. Also accepts `custom_<key>` params for any account-defined custom variable; values are `~~`-separated for OR, prefix `~` to negate.",
        "tags": [
          "Reports — Leads & Trials"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "import { GrowPanel } from '@growpanel/sdk';\n\nconst gp = new GrowPanel({ apiKey: process.env.GROWPANEL_API_KEY });\nconst result = await gp.reports.getLeads({\n    query: { date: \"20260101-20260531\", interval: \"month\" }\n});"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nfrom growpanel import GrowPanel\n\ngp = GrowPanel(api_key=os.environ['GROWPANEL_API_KEY'])\nresult = gp.reports.get_leads(\n    date=\"20260101-20260531\",\n    interval=\"month\"\n)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import (\n    \"context\"\n    \"os\"\n    growpanel \"github.com/growpanel/growpanel-sdk-go\"\n)\n\ngp, _ := growpanel.New(os.Getenv(\"GROWPANEL_API_KEY\"))\nresult, _ := gp.Reports.GetLeads(context.Background(), nil)"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date range in `YYYYMMDD-YYYYMMDD` format. Defaults to the last 12 months when omitted.",
              "example": "20260101-20260531"
            },
            "required": false,
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Aggregation interval. One of `day`, `week`, `month`, `quarter`, `year`. Default `month`.",
              "example": "month"
            },
            "required": false,
            "name": "interval",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "plan",
                "currency",
                "country",
                "state",
                "billing_freq",
                "payment_method",
                "pricing_model",
                "subtype",
                "industry",
                "age",
                "size",
                "data_source",
                "customer",
                "cancel_reason",
                "market"
              ],
              "description": "Group results into one series per value of this dimension. Custom variables use `custom_<key>`."
            },
            "required": false,
            "name": "breakdown",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Currency filter. Space-separated for OR semantics. Example: `usd eur`.",
              "example": "usd eur"
            },
            "required": false,
            "name": "currency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Payment method filter (e.g. `visa`, `mastercard`, `ach`, `sepa`, `paypal`, `manual`). Space-separated."
            },
            "required": false,
            "name": "payment_method",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Pricing model: `licensed` or `metered`. Space-separated."
            },
            "required": false,
            "name": "pricing_model",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Single customer ID to filter by."
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Plan group ID. Use `GET /plans` to enumerate. Space-separated."
            },
            "required": false,
            "name": "plan",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer-age bucket in months, `M-N` or `M-`. Space-separated. Example: `0-6 6-12`.",
              "example": "0-6 6-12"
            },
            "required": false,
            "name": "age",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Billing frequency: `day`, `week`, `month`, `quarter`, `year`. Space-separated."
            },
            "required": false,
            "name": "billing_freq",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Country/region filter. ISO 3166 alpha-2 codes (`us de fr`) or named regions (`eu`, `apac`, `latam`, `north_america`, `nordics`, ...). Use `*` for \"any value\", `~` for \"not set\", prefix any value with `~` to negate.",
              "example": "us eu"
            },
            "required": false,
            "name": "region",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "US/CA state code (lowercase). Same special tokens as `region`."
            },
            "required": false,
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Data source: `stripe`, `chargebee`, `recurly`, `google_sheets`. Space-separated. Prefix with `~` to exclude."
            },
            "required": false,
            "name": "data_source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer or transaction status filter. Prefix value with `~` to negate (e.g. `~canceled`)."
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "`true` (has any discount) or `false` (none)."
            },
            "required": false,
            "name": "has_discount",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cancellation reason filter (`too_expensive`, `payment_failed`, `unused`, ...). Space-separated."
            },
            "required": false,
            "name": "cancel_reason",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Saved segment ID (filter combination defined in the app). Expanded server-side."
            },
            "required": false,
            "name": "segment",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Set `true` to use a fixed FX snapshot at period end instead of per-row historical rates.",
              "example": "true"
            },
            "required": false,
            "name": "fix_fx",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Leads time series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Period start date in ISO 8601 (YYYY-MM-DD).",
                            "example": "2026-01-01"
                          },
                          "leads": {
                            "type": "number"
                          },
                          "leads_percent_change": {
                            "type": "number",
                            "nullable": true,
                            "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                          },
                          "trials": {
                            "type": "number"
                          },
                          "leads_converted": {
                            "type": "number",
                            "description": "Leads acquired in this period that have since become paying."
                          },
                          "trials_converted": {
                            "type": "number",
                            "description": "Trials started in this period that have since become paying."
                          },
                          "trials_percent_change": {
                            "type": "number",
                            "nullable": true,
                            "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                          },
                          "lead_to_trial_rate": {
                            "type": "number",
                            "description": "Percentage on a 0–100 scale (so 25 = 25%). May exceed 100 for NRR."
                          },
                          "lead_to_trial_rate_percent_change": {
                            "type": "number",
                            "nullable": true,
                            "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                          },
                          "trial_to_paid_rate": {
                            "type": "number",
                            "description": "Percentage on a 0–100 scale (so 25 = 25%). May exceed 100 for NRR."
                          },
                          "trial_to_paid_rate_percent_change": {
                            "type": "number",
                            "nullable": true,
                            "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                          },
                          "lead_to_paid_rate": {
                            "type": "number",
                            "description": "Percentage on a 0–100 scale (so 25 = 25%). May exceed 100 for NRR."
                          },
                          "lead_to_paid_rate_percent_change": {
                            "type": "number",
                            "nullable": true,
                            "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                          },
                          "lead_to_paid_days": {
                            "type": "number",
                            "description": "Average days from lead acquisition to first paid invoice."
                          },
                          "trial_to_paid_days": {
                            "type": "number",
                            "description": "Average days from trial start to first paid invoice."
                          }
                        }
                      }
                    },
                    "currency": {
                      "type": "string",
                      "description": "ISO 4217 currency code, lowercase.",
                      "example": "usd"
                    }
                  },
                  "required": [
                    "result",
                    "currency"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account is blocked or trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reports/leads-summary": {
      "get": {
        "summary": "Leads funnel KPIs",
        "description": "Headline funnel numbers over rolling 30/60/180/365-day windows, with percentage-change comparisons.",
        "tags": [
          "Reports — Leads & Trials"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "import { GrowPanel } from '@growpanel/sdk';\n\nconst gp = new GrowPanel({ apiKey: process.env.GROWPANEL_API_KEY });\nconst result = await gp.reports.getLeadsSummary({\n    query: { date: \"20260101-20260531\" }\n});"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nfrom growpanel import GrowPanel\n\ngp = GrowPanel(api_key=os.environ['GROWPANEL_API_KEY'])\nresult = gp.reports.get_leads_summary(\n    date=\"20260101-20260531\"\n)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import (\n    \"context\"\n    \"os\"\n    growpanel \"github.com/growpanel/growpanel-sdk-go\"\n)\n\ngp, _ := growpanel.New(os.Getenv(\"GROWPANEL_API_KEY\"))\nresult, _ := gp.Reports.GetLeadsSummary(context.Background(), nil)"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date range in `YYYYMMDD-YYYYMMDD` format. Defaults to the last 12 months when omitted.",
              "example": "20260101-20260531"
            },
            "required": false,
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Currency filter. Space-separated for OR semantics. Example: `usd eur`.",
              "example": "usd eur"
            },
            "required": false,
            "name": "currency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Payment method filter (e.g. `visa`, `mastercard`, `ach`, `sepa`, `paypal`, `manual`). Space-separated."
            },
            "required": false,
            "name": "payment_method",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Pricing model: `licensed` or `metered`. Space-separated."
            },
            "required": false,
            "name": "pricing_model",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Single customer ID to filter by."
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Plan group ID. Use `GET /plans` to enumerate. Space-separated."
            },
            "required": false,
            "name": "plan",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer-age bucket in months, `M-N` or `M-`. Space-separated. Example: `0-6 6-12`.",
              "example": "0-6 6-12"
            },
            "required": false,
            "name": "age",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Billing frequency: `day`, `week`, `month`, `quarter`, `year`. Space-separated."
            },
            "required": false,
            "name": "billing_freq",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Country/region filter. ISO 3166 alpha-2 codes (`us de fr`) or named regions (`eu`, `apac`, `latam`, `north_america`, `nordics`, ...). Use `*` for \"any value\", `~` for \"not set\", prefix any value with `~` to negate.",
              "example": "us eu"
            },
            "required": false,
            "name": "region",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "US/CA state code (lowercase). Same special tokens as `region`."
            },
            "required": false,
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Data source: `stripe`, `chargebee`, `recurly`, `google_sheets`. Space-separated. Prefix with `~` to exclude."
            },
            "required": false,
            "name": "data_source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer or transaction status filter. Prefix value with `~` to negate (e.g. `~canceled`)."
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "`true` (has any discount) or `false` (none)."
            },
            "required": false,
            "name": "has_discount",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cancellation reason filter (`too_expensive`, `payment_failed`, `unused`, ...). Space-separated."
            },
            "required": false,
            "name": "cancel_reason",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Saved segment ID (filter combination defined in the app). Expanded server-side."
            },
            "required": false,
            "name": "segment",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Set `true` to use a fixed FX snapshot at period end instead of per-row historical rates.",
              "example": "true"
            },
            "required": false,
            "name": "fix_fx",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Funnel KPIs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "leads_30": {
                          "type": "number"
                        },
                        "leads_60": {
                          "type": "number"
                        },
                        "leads_180": {
                          "type": "number"
                        },
                        "leads_365": {
                          "type": "number"
                        },
                        "trials_30": {
                          "type": "number"
                        },
                        "trials_60": {
                          "type": "number"
                        },
                        "trials_180": {
                          "type": "number"
                        },
                        "trials_365": {
                          "type": "number"
                        },
                        "leads_percentage_change_30": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "leads_percentage_change_60": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "leads_percentage_change_180": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "leads_percentage_change_365": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "trials_percentage_change_30": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "trials_percentage_change_60": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "trials_percentage_change_180": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        },
                        "trials_percentage_change_365": {
                          "type": "number",
                          "nullable": true,
                          "description": "Period-over-period change as a percentage. `null` when the baseline is zero."
                        }
                      }
                    },
                    "currency": {
                      "type": "string",
                      "description": "ISO 4217 currency code, lowercase.",
                      "example": "usd"
                    }
                  },
                  "required": [
                    "summary",
                    "currency"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account is blocked or trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reports/cohort": {
      "get": {
        "summary": "Cohort retention analysis",
        "description": "Tracks groups of customers across subsequent periods to show how much of their initial MRR and customer count is retained. The final row in `list` is an `\"average\"` aggregate across all cohorts. Also accepts `custom_<key>` params for any account-defined custom variable; values are `~~`-separated for OR, prefix `~` to negate.",
        "tags": [
          "Reports — Retention & Cohorts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "import { GrowPanel } from '@growpanel/sdk';\n\nconst gp = new GrowPanel({ apiKey: process.env.GROWPANEL_API_KEY });\nconst result = await gp.reports.getCohort({\n    query: { date: \"20250101-20260531\", interval: \"month\" }\n});"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nfrom growpanel import GrowPanel\n\ngp = GrowPanel(api_key=os.environ['GROWPANEL_API_KEY'])\nresult = gp.reports.get_cohort(\n    date=\"20250101-20260531\",\n    interval=\"month\"\n)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "import (\n    \"context\"\n    \"os\"\n    growpanel \"github.com/growpanel/growpanel-sdk-go\"\n)\n\ngp, _ := growpanel.New(os.Getenv(\"GROWPANEL_API_KEY\"))\nresult, _ := gp.Reports.GetCohort(context.Background(), nil)"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date range in `YYYYMMDD-YYYYMMDD` format. Defaults to the last 12 months when omitted.",
              "example": "20260101-20260531"
            },
            "required": false,
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Aggregation interval. One of `day`, `week`, `month`, `quarter`, `year`. Default `month`.",
              "example": "month"
            },
            "required": false,
            "name": "interval",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "plan",
                "currency",
                "country",
                "state",
                "billing_freq",
                "payment_method",
                "pricing_model",
                "subtype",
                "industry",
                "age",
                "size",
                "data_source",
                "customer",
                "cancel_reason",
                "market"
              ],
              "description": "Group results into one series per value of this dimension. Custom variables use `custom_<key>`."
            },
            "required": false,
            "name": "breakdown",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Convert all amounts to this currency (ISO 4217, lowercase). Defaults to the account's base currency.",
              "example": "usd"
            },
            "required": false,
            "name": "baseCurrency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Currency filter. Space-separated for OR semantics. Example: `usd eur`.",
              "example": "usd eur"
            },
            "required": false,
            "name": "currency",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Payment method filter (e.g. `visa`, `mastercard`, `ach`, `sepa`, `paypal`, `manual`). Space-separated."
            },
            "required": false,
            "name": "payment_method",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Pricing model: `licensed` or `metered`. Space-separated."
            },
            "required": false,
            "name": "pricing_model",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Single customer ID to filter by."
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Plan group ID. Use `GET /plans` to enumerate. Space-separated."
            },
            "required": false,
            "name": "plan",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer-age bucket in months, `M-N` or `M-`. Space-separated. Example: `0-6 6-12`.",
              "example": "0-6 6-12"
            },
            "required": false,
            "name": "age",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Billing frequency: `day`, `week`, `month`, `quarter`, `year`. Space-separated."
            },
            "required": false,
            "name": "billing_freq",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Country/region filter. ISO 3166 alpha-2 codes (`us de fr`) or named regions (`eu`, `apac`, `latam`, `north_america`, `nordics`, ...). Use `*` for \"any value\", `~` for \"not set\", prefix any value with `~` to negate.",
              "example": "us eu"
            },
            "required": false,
            "name": "region",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "US/CA state code (lowercase). Same special tokens as `region`."
            },
            "required": false,
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Data source: `stripe`, `chargebee`, `recurly`, `google_sheets`. Space-separated. Prefix with `~` to exclude."
            },
            "required": false,
            "name": "data_source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Customer or transaction status filter. Prefix value with `~` to negate (e.g. `~canceled`)."
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "`true` (has any discount) or `false` (none)."
            },
            "required": false,
            "name": "has_discount",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cancellation reason filter (`too_expensive`, `payment_failed`, `unused`, ...). Space-separated."
            },
            "required": false,
            "name": "cancel_reason",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Saved segment ID (filter combination defined in the app). Expanded server-side."
            },
            "required": false,
            "name": "segment",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Set `true` to use a fixed FX snapshot at period end instead of per-row historical rates.",
              "example": "true"
            },
            "required": false,
            "name": "fix_fx",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Cohort retention table",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cohort_group": {
                                "type": "string",
                                "description": "Cohort identifier (period or breakdown value). The final row uses `\"average\"`."
                              },
                              "label": {
                                "type": "string"
                              },
                              "initial_mrr": {
                                "type": "number",
                                "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                              },
                              "initial_customers": {
                                "type": "number"
                              },
                              "periods": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "mrr_retained": {
                                      "type": "number",
                                      "description": "Monetary amount in minor units (cents) of the base currency. May be negative for credits, refunds, contractions."
                                    },
                                    "customers_retained": {
                                      "type": "number"
                                    },
                                    "mrr_retention": {
                                      "type": "number",
                                      "description": "MRR retention relative to the cohort's starting MRR."
                                    },
                                    "customer_retention": {
                                      "type": "number",
                                      "description": "Percentage on a 0–100 scale (so 25 = 25%). May exceed 100 for NRR."
                                    },
                                    "nrr": {
                                      "type": "number",
                                      "description": "Percentage on a 0–100 scale (so 25 = 25%). May exceed 100 for NRR."
                                    },
                                    "mrr_churn": {
                                      "type": "number",
                                      "description": "Percentage on a 0–100 scale (so 25 = 25%). May exceed 100 for NRR."
                                    },
                                    "customer_churn": {
                                      "type": "number",
                                      "description": "Percentage on a 0–100 scale (so 25 = 25%). May exceed 100 for NRR."
                                    }
                                  }
                                },
                                "description": "One entry per subsequent period (period 0 is the cohort start)."
                              }
                            },
                            "required": [
                              "cohort_group",
                              "label",
                              "initial_mrr",
                              "initial_customers",
                              "periods"
                            ]
                          }
                        },
                        "limits": {
                          "type": "object",
                          "properties": {
                            "retention": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "number"
                                },
                                "max": {
                                  "type": "number"
                                }
                              }
                            },
                            "nrr": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "number"
                                },
                                "max": {
                                  "type": "number"
                                }
                              }
                            },
                            "churn": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "number"
                                },
                                "max": {
                                  "type": "number"
                                }
                              }
                            },
                            "netChurn": {
                              "type": "object",
                              "properties": {
                                "min": {
                                  "type": "number"
                                },
                                "max": {
                                  "type": "number"
                                }
                              }
                            }
                          },
                          "description": "Min/max values across all cohorts. Useful for setting chart axis bounds."
                        }
                      },
                      "required": [
                        "list",
                        "limits"
                      ]
                    },
                    "breakdown": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string",
                      "description": "ISO 4217 currency code, lowercase.",
                      "example": "usd"
                    }
                  },
                  "required": [
                    "result",
                    "currency"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Account is blocked or trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reports/transactions": {
      "get": {
        "summary": "Cashflow received over time",
        "description": "Per-period cash received, broken down by source: monthly subs, yearly subs, metered, one-time, discounts, refunds, fees, FX loss, tax. Also accepts `custom_<key>` params for any account-defined custom variable; values are `~~`-separated for OR, prefix `~` to negate.",
        "tags": [
          "Reports — Cashflow"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "import { GrowPanel } from '@growpanel/sdk';\n\nconst gp = new GrowPanel({ apiKey: process.env.GROWPANEL_API_KEY });\nconst result = await gp.reports.getTransactions({\n    query: { date: \"20260101-20260531\", interval: \"month\" }\n});"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\nfrom growpanel import GrowPanel\n\ngp = GrowPanel(api_key=os.environ['GROWPANEL_API_KEY'])\nresult = gp.reports.get_transactions(\n    date=\"20260101-20260531\",\n    interval=\"month\"\n)"
          },
          {
            "lang": "Go",
            "label": "Go",
[...]
